In [95]:
# IMPORTING IMPORTANT LIBRARIES
import pandas as pd
import numpy as np 
import math

In [96]:
# IMPORTING DATASET 
data = pd.read_csv("PFW_2021_public (1).csv")

In [97]:
data.head()

,loc_id,latitude,longitude,subnational1_code,entry_technique,sub_id,obs_id,Month,Day,Year,...,how_many,valid,reviewed,day1_am,day1_pm,day2_am,day2_pm,effort_hrs_atleast,snow_dep_atleast,Data_Entry_Method
0,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,OBS1059258900,1,24,2021,...,1,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17
1,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,OBS1059259256,1,24,2021,...,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17
2,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,OBS1059259639,1,24,2021,...,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17
3,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,OBS1017001338,11,23,2020,...,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4
4,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,OBS1017001339,11,23,2020,...,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4

In [98]:
data.describe()
#all the columns which are not included are categorical

,latitude,longitude,Month,Day,Year,how_many,valid,reviewed,day1_am,day1_pm,day2_am,day2_pm,effort_hrs_atleast,snow_dep_atleast
count,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.897105e+06,2.892591e+06,2.642502e+06
mean,4.070439e+01,-8.708081e+01,5.135655e+00,1.612868e+01,2.020698e+03,3.716377e+00,9.929744e-01,3.085494e-03,9.116953e-01,7.858224e-01,8.924702e-01,7.734052e-01,1.781914e+00,2.096626e+00
std,4.610126e+00,1.604554e+01,4.367908e+00,8.583022e+00,4.591886e-01,8.484951e+00,8.352411e-02,5.546147e-02,2.837376e-01,4.102507e-01,3.097856e-01,4.186283e-01,1.922218e+00,4.572139e+00
min,-3.313755e+01,-1.652876e+02,1.000000e+00,1.000000e+00,2.020000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e-03,0.000000e+00
25%,3.837521e+01,-9.334695e+01,2.000000e+00,9.000000e+00,2.020000e+03,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.001000e+00,0.000000e+00
50%,4.113672e+01,-8.060746e+01,3.000000e+00,1.600000e+01,2.021000e+03,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.001000e+00,0.000000e+00
75%,4.331610e+01,-7.610979e+01,1.100000e+01,2.300000e+01,2.021000e+03,4.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.001000e+00,1.000000e-03
max,6.551989e+01,8.182617e+01,1.200000e+01,3.100000e+01,2.021000e+03,5.000000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,8.001000e+00,1.500100e+01

# PROBLEM 4 - (PROGRAMMING) - DATA PREPROCESSING

### 1. Remove redundant attributes (all the same values) and meaningless attributes (all values are different).

In [99]:
len(data['PROJ_PERIOD_ID'].unique())

1

In [100]:
data.drop('PROJ_PERIOD_ID', axis=1, inplace=True)  #redundant attribute

In [101]:
data.columns

Index(['loc_id', 'latitude', 'longitude', 'subnational1_code',
       'entry_technique', 'sub_id', 'obs_id', 'Month', 'Day', 'Year',
       'species_code', 'how_many', 'valid', 'reviewed', 'day1_am', 'day1_pm',
       'day2_am', 'day2_pm', 'effort_hrs_atleast', 'snow_dep_atleast',
       'Data_Entry_Method'],
      dtype='object')

In [102]:
len(data['obs_id'].unique())

2897105

In [103]:
len(data['obs_id'])

2897105

In [104]:
data.drop('obs_id', axis=1, inplace=True) #meaningless attribute

### 2. Combine ‘date’, ‘month’ and ‘year’ into a single attribute.

In [105]:
data['Date'] = data['Month'].astype(str) + '-' + data['Day'].astype(str) + '-' + data['Year'].astype(str)

In [106]:
data['Date']

0           1-24-2021
1           1-24-2021
2           1-24-2021
3          11-23-2020
4          11-23-2020
              ...
2897100     2-10-2021
2897101     2-10-2021
2897102     2-10-2021
2897103     2-10-2021
2897104     2-10-2021
Name: Date, Length: 2897105, dtype: object

In [107]:
data.drop(['Month','Year'], axis=1, inplace=True) #Because these are unnecessary now that we have a single attribute combining all.

In [108]:
data

,loc_id,latitude,longitude,subnational1_code,entry_technique,sub_id,Day,species_code,how_many,valid,reviewed,day1_am,day1_pm,day2_am,day2_pm,effort_hrs_atleast,snow_dep_atleast,Data_Entry_Method,Date
0,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,24,amtspa,1,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17,1-24-2021
1,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,24,blujay,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17,1-24-2021
2,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,24,bkcchi,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17,1-24-2021
3,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,23,dowwoo,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4,11-23-2020
4,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,23,whbnut,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4,11-23-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2897100,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,daejun,3,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021
2897101,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,amerob,1,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021
2897102,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,houfin,11,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021
2897103,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,norcar,5,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021
2897104,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,rebnut,2,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021

### 3. Convert all categorical attributes to quoted numbers, e.g. 1 → ‘1’, 2 → ‘2’,. . .

#### The categorical variables that we have are 'loc_id', 'subnational1_code','entry_technique', 'sub_id', 'obs_id', 'species_code', 'Data_Entry_Method'

In [109]:
 #data['loc_id'] = data['loc_id'].tolist() label encoders, astype(str),numerical data and group change to, .apply('') df.sample

### 4. Discretize attribute ‘how many’ into bins of size 10, e.g. 0-10, 11-20,. . .

In [127]:
x = data['how_many']
x = np.sort(x)
x

array([   1,    1,    1, ..., 3000, 5000, 5000], dtype=int64)

In [132]:
#data['binned']=pd.cut(x=data['how_many'], bins=[0,10,20,30,40,50,60,70,80,90,100])
#pd.interval_range(start=0,end=5000,periods=50,closed="both")

IntervalIndex([[0, 100], [100, 200], [200, 300], [300, 400], [400, 500] ... [4500, 4600], [4600, 4700], [4700, 4800], [4800, 4900], [4900, 5000]], dtype='interval[int64, both]')

In [112]:
data

,loc_id,latitude,longitude,subnational1_code,entry_technique,sub_id,Day,species_code,how_many,valid,reviewed,day1_am,day1_pm,day2_am,day2_pm,effort_hrs_atleast,snow_dep_atleast,Data_Entry_Method,Date,binned
0,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,24,amtspa,1,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17,1-24-2021,"(0, 10]"
1,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,24,blujay,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17,1-24-2021,"(0, 10]"
2,L12782033,44.574148,-78.205608,CA-ON,/GOOGLE_MAP/ZOOM:15,S79876486,24,bkcchi,2,1,0,0,1,0,1,0.001,5.000,PFW Mobile App v1.1.17,1-24-2021,"(0, 10]"
3,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,23,dowwoo,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4,11-23-2020,"(0, 10]"
4,L12755941,54.136873,-108.687862,CA-SK,/GOOGLE_MAP/ZOOM:17,S76634904,23,whbnut,2,1,0,0,1,0,1,0.001,15.001,PFW Web 4.1.4,11-23-2020,"(0, 10]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2897100,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,daejun,3,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021,"(0, 10]"
2897101,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,amerob,1,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021,"(0, 10]"
2897102,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,houfin,11,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021,"(10, 20]"
2897103,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,norcar,5,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021,"(0, 10]"
2897104,L2404002,42.494631,-76.574364,US-NY,/GOOGLE_MAP/ZOOM:15,S82225821,10,rebnut,2,1,0,0,0,1,0,0.001,0.001,PFW Web 4.1.4,2-10-2021,"(0, 10]"

### 5. Randomly sample 100 instances without replacement and save them as a single .csv file, including attribute names.

In [123]:
sampled_data = data.sample(n=100,replace=False)

In [124]:
sampled_data

,loc_id,latitude,longitude,subnational1_code,entry_technique,sub_id,Day,species_code,how_many,valid,reviewed,day1_am,day1_pm,day2_am,day2_pm,effort_hrs_atleast,snow_dep_atleast,Data_Entry_Method,Date,binned
231327,L10319887,45.348593,-75.834832,CA-ON,/GOOGLE_MAP/ZOOM:15,S78289584,28,amegfi,11,1,0,1,1,1,1,1.001,0.001,PFW Web 4.1.4,12-28-2020,"(10, 20]"
70732,L4014485,49.352837,-124.465368,CA-BC,/GOOGLE_MAP/ZOOM:15,S78667887,30,foxspa,2,1,0,1,1,1,1,8.001,0.000,PFW Web 4.1.4,12-30-2020,"(0, 10]"
1563061,L5446392,45.541417,-122.628962,US-OR,/GOOGLE_MAP/ZOOM:15,S76944788,30,bkcchi,1,1,0,1,0,1,0,1.001,0.000,PFW Web 4.1.4,11-30-2020,"(0, 10]"
1731667,L10205251,38.580251,-90.305489,US-MO,/GOOGLE_MAP/ZOOM:15,S82895228,14,dowwoo,1,1,0,1,0,1,0,1.001,0.000,PFW Web 4.1.4,1-14-2021,"(0, 10]"
2536806,L12883001,38.778166,-90.397260,US-MO,/GOOGLE_MAP/ZOOM:15,S84270377,8,dowwoo,3,1,0,1,1,1,1,1.001,NaN,PFW Web 4.1.4,1-8-2021,"(0, 10]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762052,L8225695,40.270927,-76.419713,US-PA,/GOOGLE_MAP/ZOOM:15,S85761890,8,blujay,2,1,0,1,1,1,1,1.001,NaN,PFW Web 4.1.4,2-8-2021,"(0, 10]"
2703835,L14304301,43.872483,-70.235531,US-ME,/GOOGLE_MAP/ZOOM:15,S84815621,20,rebnut,1,1,0,1,1,1,1,1.001,0.000,PFW Web 4.1.4,3-20-2021,"(0, 10]"
1019705,L810029,41.135122,-74.679152,US-NJ,ESRI_WEBSERVICE_STREET/GOOGLE_MAP/ZOOM:2,S80776442,27,carwre,1,1,0,1,1,1,1,8.001,0.001,PFW Web 4.1.4,1-27-2021,"(0, 10]"
2055729,L10916789,32.665274,-97.373397,US-TX,/GOOGLE_MAP/ZOOM:15,S85046031,5,rebwoo,1,1,0,1,0,0,1,0.001,0.000,PFW Mobile App v1.1.17,4-5-2021,"(0, 10]"
154694,L10167199,44.419912,-80.235375,CA-ON,/GOOGLE_MAP/ZOOM:7,S80647007,6,daejun,3,1,0,1,0,1,1,1.001,15.001,PFW Web 4.1.4,2-6-2021,"(0, 10]"

In [133]:
sampled_data.to_csv('C:/Assignment/sampled_data.csv', index=False, encoding='utf-8')
#df.to_csv('sampled_data.csv')

TypeError: can only insert Interval objects and NA into an IntervalArray